.section {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    // border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #282828;
    width: 75vw;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }


}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content:flex-start;
    // align-self: flex;
    padding: 1rem;
    margin: .5rem;
    // // border: 1px solid #ccc;
    border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(48, 48, 48);
    width: 30vw;

    // &:hover {
    //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    // }
    img {
        width: 99%;
        height: auto;
        // align-self: flex-end;
        border-radius: 5px;
        margin-top: 20px;

        // &:hover {
            
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         width: 50vw; /* Full viewport width */
        //         height: 50; /* Full viewport height */
        //         object-fit: contain; /* Ensures the full image is shown */
        //         z-index: 9999; /* Bring the image above other content */
        //         transform: translate(-50%, -50%);
        //         top: 50%;
        //         left: 50%;
              
        // }

    }

    &:hover {
        // transform: scale(1.1);
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: rgba(196, 244, 3, 0.049);

    }


}

h2 {
    width: 100%;
}

.product-description {
    font-style: italic;
    color: #a7a7a7;
}

